
.tl_formbody_submit .tl_submit.importButton {
    color: #fff;
    background: #cc0000;
    text-shadow: 0 0 #fff;
}

.tl_formbody_submit .tl_submit.importButton:hover {
    background: #cc0000;
}

.tl_formbody_submit .tl_submit.testButton {
    color: #fff;
    background: #006600;
    text-shadow: 0 0 #fff;
}

.tl_formbody_submit .tl_submit.testButton:hover {
    background: #003300;
}

button.tl_submit.showErrorButton{
    background-color: #cc0000;
    border: 1px solid #cc0000 !important;
    color: #fff;
    padding: 4px 8px;
    height:auto;
}

button.tl_submit.showErrorButton.hideSuccess{
    background-color: #00cc00;
    color: #fff;
    border-color: #00cc00 !important;
}

.import-report-table {
    width: 100%;
}

.import-report-table td.tdTitle {
    font-weight: bold;
}

.import-report-table td {
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 10px;
}

.import-report-table tr.allOk.hiddenRow {
    display:none;
}

.import-report-table tr.delim td{
    border: none;
}

.import-report-table .allOk td, ul.import-summary li.allOk {
    color: #008000 !important;
}

.import-summary{
    margin: 16px 0;
}

.import-report-table .error td, ul.import-summary .error {
    color: red !important;
}

.import-report-table .error td .errMsg {
    font-weight: normal !important;
    font-size: 10px !important;
}

.import-report-table .delim td {
    border-left-width: 0;
    border-right-width: 0;
}
