$green: #5eaf4c;
$red: red;
$error: #ff7d7d;
$black: #000000;
$gray: #262626;
$gray-dark: #cccccc;
$gray-darkest: #999999;

$gray-light: #fbfbfb;
$text-color: #b4b4b4;

/**
 * Operations
 */
a.renderAppAction > img {
  width: 16px;
  aspect-ratio: auto 16 / 16;
  height: 16px;
}

[v-cloak], .ifcb-import-from-csv-app.ifcb-status-preparing {
  display: none;
}

.ifcb-status-ready .ifcb-progress-bar-container, .ifcb-status-ready .ifcb-import-report-box {
  visibility: hidden;
}

/**
 * Fields
 */
.ifcb-sql-descr {
  color: $gray-darkest;
}

/**
 * Detailview
 */
.ifcb-file-content-box {
  max-height: 300px;
  overflow-x: hidden;
  padding: 5px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: #000000;
  color: #fb77ec;
}

.ifcb-file-content-box li code {
  font-size: 11px;
  line-height: 15px;
  white-space: pre-wrap;
  word-break: break-word;
}

.ifcb-m-1 {
  margin: 15px;
}

.ifcb-mt-1 {
  margin-top: 15px;
}

.ifcb-me-1 {
  margin-right: 15px;
}

.ifcb-mb-1 {
  margin-bottom: 15px;
}

.ifcb-ms-1 {
  margin-left: 15px;
}

.ifcb-d-flex {
  display: flex;
}

.ifcb-d-block {
  display: block;
}

.ifcb-brand-logo {
  width: 150px;
}

.ifcb-help-text a {
  color: blue;
}

.ifcb-custom-header-back, .ifcb-edit-header {
  padding: 3px 0 3px 21px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.ifcb-custom-header-back {
  background-image: url('../../../system/themes/flexible/icons/back.svg');
}

.ifcb-edit-header {
  background-image: url('../../../system/themes/flexible/icons/edit.svg');
}

.ifcb-import-from-csv-app {

  .widget {
    margin: 15px;
  }

  .ifcb-progress-bar-container {
    margin: 15px 0;
    background-color: $gray-light;

    .ifcb-progress-bar-inner {
      height: 30px;
      width: 0;
      background-color: $green;
      transition: width 1.5s ease;
      line-height: 1.5;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  button.tl_submit.ifcb-display-errors-btn {
    background-color: $red;
    border: 1px solid $red !important;
    color: #ffffff;
    padding: 8px;
    height: auto;
  }

  button.tl_submit.ifcb-display-errors-btn:hover {
    background-color: darken($red, 20);
    border-color: darken($red, 20) !important;
  }

  button.tl_submit.ifcb-display-errors-btn.hideSuccess {
    background-color: $green;
    color: #fff;
    border-color: $green !important;
  }

  .ifcb-import-report-box {
    margin: 15px 0;
    padding: 15px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #000000;

    .ifcb-import-report-table {
      width: 100%;

      * {
        font-weight: normal !important;
        font-size: 10px !important;
      }

      td {
        border: 0;
        padding: 4px;
        font-size: 10px;
        width: 50%;
      }

      td.ifcb-td-title {
        font-weight: bold;
      }

      tr.ifcb-import-success td {
        color: lighten($green, 10) !important;
      }

      tr.ifcb-import-failed td {
        color: $error !important;
      }

      tr.ifcb-delim td {
        border-left-width: 0;
        border-right-width: 0;
      }

      tr.ifcb-import-success.hiddenRow {
        display: none;
      }

      tr.ifcb-delim td {
        border: none;
      }
    }
  }

  .ifcb-status-box {
    min-height: 30px;
    color: $text-color;
  }

  .ifcb-import-summary {
    margin: 16px 0;
    line-height: 1.5;

    li.ifcb-import-failed {
      color: $red !important;
    }

    li.ifcb-import-success {
      color: #008000 !important;
    }
  }

  .tl_submit_container {
    button:not([disabled]).ifcb-import-button {
      color: #fff;
      background: $red;
      border-color: $red;
    }

    button:not([disabled]).ifcb-import-button:hover {
      background: darken($red, 15);
      border-color: darken($red, 15);
    }

    button:not([disabled]).ifcb-import-test-button {
      //color: #ffffff;
      //background: $green;
      //text-shadow: 0 0 #fff;
    }

    button:not([disabled]).ifcb-import-test-button:hover {
      //background: $black;
    }
  }

}
