<div class="widget manual">
    <figure class="image_container"><img src="bundles/markocupicimportfromcsv/manual.jpg" title="ms-excel" style="width:100%" alt="manual"></figure>
    <p></p>
    <figure class="image_container"><img src="bundles/markocupicimportfromcsv/manual2.jpg" title="text-editor" style="width:100%" alt="manual"></figure>
    <p></p>
    <p class="tl_help">{{ help_text|raw }}</p>
</div>
