<div class="widget">
    <label>
        <h3>{{ headline }}</h3>
    </label>

    <div class="ifcb-file-content-box">
        <ul>
            {% for row in rows %}
                <li>{{ row }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
