<div class="widget parsedFile">
    <p></p>
    <label>
        <h2>{{ headline }}</h2>
    </label>

    <div class="ifcb-file-content-box">
        <ul>

            {% for row in rows %}

                <li><pre>{{ row }}</pre></li>

            {% endfor %}

        </ul>
    </div>
</div>
