<div class="widget ifcb-manual ifcb-d-block">
    <div class="ifcb-mb-1">
        <a href="https://github.com/markocupic/import-from-csv-bundle">
            <img class="ifcb-brand-logo" src="bundles/markocupicimportfromcsv/logo.png">
        </a>
    </div>

    <div class="ifcb-help-text">
        {{ help_text|raw }}
    </div>
</div>
